.container{
  background-color: hsla(199, 32%, 44%, 0.518);
  color: hsl(0, 0%, 0%);
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 24px;
}
.main {
  padding: 4rem;
  font-size: 20px;
  text-align: center;
}

.main_principal {
  color: hsl(30, 13%, 9%);
  text-align: center;
  padding-bottom: 2rem;
}

h1, h2 {
  font-size: 28px;
  padding-bottom: 1rem;
}

p{
  font-size: 16px;
}

.main_galeria {
  margin: 0 auto;
  display: flex;
  width: 600px;
  height: 430px;
}

.main_galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.fotosPrincipal {
  width: 100%;
  height: 70%;
}

.main_galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

