.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: hsla(200, 39%, 75%, 0.518);
    box-shadow: 0 2px 4px rgba(197, 197, 197, 0.784);
}

.header img {
    height: 50px;
}

.iconoLogo {
    width: 80px;
    height: 100px;
    justify-content: left;
}

.iconoLogo:hover {
    width: 90px;
}

#logoPrincipal {
    width: 400px;
}

.botonMenu {
    color: hsl(40, 21%, 5%);
    padding-right: 40px;
    font-weight: bold;
    text-decoration: none;
}

.botonMenu:hover {
    color: hsl(225, 89%, 62%);
    font-size: 21px;
}